<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - Soack</title>
    {% else %}
    <title>Welcome to Soack</title>
    {% endif %}
</head>
<body>

  <div>Soack: <a href="/index">Home</a></div>
  <a href="{{ url_for('logout') }}">Sign out</a>
  <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
        <li class="{{ category }}">{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  {% block content %}{% endblock %}
</body>
<style>
  body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 4px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input {
    font-size: 14px;
  }
  textarea {
    font-size: 14px;
  }
  form {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  div {
    padding: 5px;
  }
  .errors {
    color: #990000;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  }
  li.error {
    color: #990000;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  }
  table.mocks {
    width: 100%;
    text-align: left;
  }
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 0.4em;
    border-bottom: 1px solid #ddd
  }
  tr:hover {
    background-color: #f5f5f5;
  }
</style>
</html>