{% extends "base.html" %}
{% block content %}
  <p>Use http GET to retrive all requests recieved by your mock service on certain soap method</p>
  <p>Use http DELETE to clear log</p>
  <br><br>
<table>
<tr>
  <th>SOAP method</th>
  <th>endpoint</th>
</tr>
{% for method in methods %}
<tr>
  <td>{{ method.name }}</td>
  <td>{{ url_for('log_api', service_id=service.id, methodname=method.name, _external=True) }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}