{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('responses', service_id=service_id) }}" method="POST">
{{form.hidden_tag()}}
{{ form.csrf_token }}
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<div>{{ form.name.label }}: {{ form.name() }}</div>
<div>{{ form.method.label }}: {{ form.method() }}</div>
<div>{{ form.response.label }}: {{ form.response() }}</div>
<input type="submit" value="Create!">
</form>
  <table>
  {% for group in grouped_responses %}
  <tr>
    <td>
      {{ group.method_name }}
    </td>
    <td>
      <ul>
        {% for response in group.responses %}
        <li>
          <a href="{{ url_for('response', _id=response.id) }}">{{ response.name }}</a>

          {% if response.is_active %}
            Active
          {% else %}
            <a href="{{ url_for('activate_response', _id=response.id) }}">Activate</a>
          {% endif %}

          <a href={{ url_for('delete_response', _id=response.id) }}>Delete</a>
        </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}
