{% extends "base.html" %}
{% block content %}
  <h1>Hello, {{user.username}}!</h1>

  <form action="/index" method="POST" enctype="multipart/form-data" name="new_mock">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <div>Create your mock service:</div>

    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    <div>{{ form.path.label }}: {{ form.path(size = 20, maxlength = 20) }}</div>

    <div>{{ form.wsdl.label }}: {{ form.wsdl() }}</div>

    <div>{{ form.patch_locations.label }}: {{ form.patch_locations() }}</div>

    <input type="submit" value="Create!">
  </form>

<p>Your mock services:</p>


<table class="mocks">
<tr>
  <th>id</th>
  <th>name</th>
  <th>wsdl</th>
  <th>logs</th>
  <th>api</th>
  <th>responses</th>
  <th>delete</th>
</tr>
{% for service in services %}
<tr>
  <td>{{ service.id }}</td>
  <td>{{ service.name }}</td>
  <td><a href="{{ url_for('service', username=user.username, servicename=service.name) }}">wsdl</a></td>
  <td><a href="{{url_for('logs',  username=user.username, servicename=service.name) }}">logs</a></td>
  <td><a href="{{ url_for('description', service_id=service.id) }}">api</a></td>
  <td><a href="{{ url_for('responses', service_id=service.id) }}">edit</a></td>
  <td><a style="color: #d23821" href="{{ url_for('delete_sevice', _id=service.id) }}">delete</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}