<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h2>Please log in using your AD credentials</h2>

  <form action="{{ url_for('login') }}" method="post">
    {{ form.csrf_token }}
    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    <div>{{ form.username.label }}: {{ form.username() }}</div>
    <div>{{ form.password.label }}: {{ form.password() }}</div>
    <div>{{ form.remember.label }}: {{ form.remember() }}</div>
    <input type="submit" value="Log In!">
  </form>


{% endblock %}