{% extends "base.html" %}

{% block content %}
<table>
<tr>
  {% for method in methods %}
  <td>
    <a href="{{ url_for('log', username=username, servicename=servicename, methodname=method) }}">{{ method }}</a>
  </td>
  {% endfor %}
</tr>
</table>
<table>
{% for log in logs %}
  <tr>
    <td>
      {{ log.added.strftime('%Y-%m-%d %H:%M:%S') }}
    </td>
    <td>
      {{ log.content }}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}